.dflex {
  display: flex;
}
.flexDir-column {
  flex-direction: column;
}
.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}
.cur-p {
  cursor: pointer;
}
